<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Byond redirect</title>
    <meta
      http-equiv="refresh"
      content="1;url=byond://sybil.tgstation13.org:1337"
    />
    <style>
      html,
      body {
        height: 100%;
        overflow: hidden;
      }
      body {
        background: linear-gradient(to top, #012, #456) #123;
        text-align: center;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #eee;
      }
      h1,
      p {
        line-height: 1.5rem;
        padding: 0.6rem 1rem;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>You are being redirected to BYOND!</h1>
    <p>
      If a popup doesn't come up or the client doesn't open in the next few
      seconds something has probably gone wrong!
    </p>
  </body>
</html>
